@page "/Slider"
@namespace BlazorApp.Pages.Slider
@using BlazorApp.Pages.ListingBoxes
@using Domain_Models
@using Domain_Models.Database
@using Domain_Models.Enums
@using Domain_Models.Webshop
@using Domain_Models.Webshop.Users
@using Domain_Models.Webshop.Medias

@* A slider that is made out of small listingbox components *@

<div class="slider">
    <div class="slider-head">
        <p class="slider-title">@Title</p>
        <a class="see-more-btn" href="@Link"><p>View All</p></a>
    </div>
    <div class="slider-body">
        @foreach (var listing in Listings)
        {
            <ListingBox Size=0 listing=@listing></ListingBox>
        }
    </div>
</div>

@code
{
    [Parameter]
    public string Title { get; set; } = "Slider title";

    [Parameter]
    public string Link { get; set; } = "/";

    [Parameter]
    public Filter Filter { get; set; } = new Filter(fetchAmount: 4);

    [Parameter]
    public List<Listing> Listings { get; set; } = new List<Listing>();

    protected override void OnInitialized()
    {
        Listings = DatabaseHandler.Search(Filter).ToList();
        
    }

    
}
