@page "/ListingBoxSmall"
@using Domain_Models.Webshop.User
@using Domain_Models.Webshop

<div class="listing-box-small">
    <figure class="image"><a href="listing-single.html"><img src="images/resource/featured-image-1.jpg" alt=""></a></figure>
    <div class="detail-box">
        <div class="name-box">
            <div class="title"><a href="listing-single.html">@listing.Item.Title</a></div>
            <div class="seller"><a href="listing-single.html">@listing.Seller.Name</a></div>
        </div>
        <div class="price">@listing.Price kr</div>
    </div>
</div>


@code {
    [Parameter, EditorRequired]
    public Listing listing { get; set; }

    

}
