@page "/BoardGames"


@using BlazorApp.Pages.ListingBoxes
@using Domain_Models
@using Domain_Models.Database
@using Domain_Models.Enums
@using Domain_Models.Webshop
@using Domain_Models.Webshop.Users
@using Domain_Models.Webshop.Medias



<h1>Board Games</h1>


<div class="slider">
    
    <div class="slider-body">
        @foreach (var book in BoardGamesList)
            @foreach (var listItem in listing)
            {
                <ListingBox Size=0 listing=@listItem></ListingBox>

            }
    </div>
</div>

@code
{
    public List<BoardGame> BoardGamesList { get; set; }
    public BoardGame boardGame = new BoardGame();
    public List<Listing> listing { get; set; }


    protected override void OnInitialized()
    {
        BoardGameDbContext dbContext = new BoardGameDbContext();
        listing = new List<Listing>();

        BoardGamesList = dbContext.GetAll();
        foreach (var boardGame in BoardGamesList)
        {
            var item = new Listing()
                {
                    Condition = Domain_Models.Enums.CONDITION.NEW,
                    ID = boardGame.Id,
                    Price = (int)boardGame.Price,
                    Item = new Domain_Models.Webshop.Medias.Media() { Title = boardGame.Title },
                    Seller = new Domain_Models.Webshop.Users.Seller() { Name = boardGame.Developer }
                };

            listing.Add(item);
        }

    }


}