@page "/Books"

@using BlazorApp.Pages.ListingBoxes
@using Domain_Models
@using Domain_Models.Database
@using Domain_Models.Enums
@using Domain_Models.Webshop
@using Domain_Models.Webshop.Users
@using Domain_Models.Webshop.Medias



<h1>Books</h1>
   

<div class="slider">
   
    <div class="slider-body">
        @foreach (var listItem in listing)
        {
            <ListingBox Size=0 listing=@listItem></ListingBox>

        }
    </div>
</div>

@code 
{
    public List<Book> BooksList { get; set; }
    public Book bookItem = new Book();
    public List<Listing> listing { get; set; }

    protected override void OnInitialized()
    {
        BookDbContext dbContext = new BookDbContext();

        listing = new List<Listing>() { };

        BooksList = dbContext.GetAll();
        foreach (var book in BooksList)
        {
            var item = new Listing() { 
                Condition = Domain_Models.Enums.CONDITION.NEW, 
                ID = book.Id, 
                Price = (int) book.Price,
                Item = new Domain_Models.Webshop.Medias.Media() { Title = book.Title },
                Seller = new Domain_Models.Webshop.Users.Seller() { Name = book.Author } };

            listing.Add(item);
        }

    }
    

  
}