@page "/create"
@using Domain_Models
@using BlazorApp.Pages.CreateComponents

<PageTitle>Create</PageTitle>


<select onchange="@OnChange">
    <option value="0">Select an option</option>
    <option value="1">Book</option>
    <option value="2">Board game</option>
    <option value="3">Tag</option>
    <option value="4">User</option>
    <option value="5">Listing</option>
    <option value="6">Seller</option>
</select>


<form class="create-object">
    @switch(SelectedForm) 
    {
        case 1: <CreateBook></CreateBook> break;
        case 2: <CreateBoardgame></CreateBoardgame> break;
        case 3: <CreateTag></CreateTag> break;
        case 4: <CreateUser></CreateUser> break;
        case 5: <CreateListing></CreateListing> break;
        case 6: <CreateSeller></CreateSeller> break;
        default: break;
    }
</form>


@code {

    private void OnChange(ChangeEventArgs e)
    {
        SelectedForm = Convert.ToInt32(e.Value);
    }

    private int SelectedForm { get; set; }
}
