@page "/category/{category}"
@using BlazorApp.Pages.ListingBoxes;
@using Domain_Models.Database;
@using Domain_Models.Webshop;

<h3>@category</h3>

<div class="cat-page" @onscroll="@OnScroll()">
    <Virtualize Items="Listings" Context="listing">
        <ListingBox Size=1 listing=@listing></ListingBox>
    </Virtualize>
</div>

@code {

    [Parameter]
    public string category { get; set; } = "All";

    ICollection<Listing> Listings = new List<Listing>();

    protected override void OnInitialized()
    {
        List<Listing> listings = new List<Listing>();
        if (category == "All")
            listings = DatabaseHandler.Search(new Filter(fetchAmount: 0)).ToList();
        else
            listings = DatabaseHandler.Search(new Filter(searchTerm: category, fetchAmount: 0)).ToList();

        Listings = listings;
    }
}
