@page "/home"
@using BlazorApp.Pages.Slider
@using Domain_Models.Enums
@using Domain_Models.Database
@using Domain_Models.Webshop
@using Domain_Models.Webshop.Medias
@using Domain_Models.Webshop.Users

<PageTitle>Home</PageTitle>

<div class="sliders">
    <Slider Title="Books" Filter="@(new Filter())" Link="/category/All"></Slider>

    <Slider Title="Board Games" Filter="@(new Filter())" Link="/category/Oscar-Wilde"></Slider>
</div>
