@namespace BlazorApp.Pages.ListingBoxes

@page "/ListingBoxMedium"

@using Domain_Models.Webshop.Users
@using Domain_Models.Webshop

<div class="listing-box-medium">
    <figure class="image"><a href="/ViewListing/@listing.ID"><img src="@listing.Item.ImagePath" alt=""></a></figure>
    <div class="detail-box">
        <div class="name-box">
            <div class="title"><a href="/ViewListing/@listing.ID">@listing.Item.Title</a></div>
            <div class="seller"><a href="/ViewListing/@listing.ID">@listing.Seller.Name</a></div>
        </div>
        <div class="price">@listing.Price dkk</div>
    </div>
</div>


@code {
    [Parameter, EditorRequired]
    public Listing listing { get; set; }
}
