.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav-menus{
    flex-direction: column;
    width: 100%;
}

.header{
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
}

.content{
    flex-grow: 1;
    width: 50vw;
    padding-left: 10px;
    padding-right: 10px;
}

.sidebar {
    background-color: rgb(244, 244, 255);
    height: 100%;
    box-shadow: 0px 8px 10px 0px rgba(9, 9, 55, 0.02);
    
}



@media (max-width: 640.98px) {
    /* Small screens */
}

@media (min-width: 641px) {
    /* Medium screens */
}
