@inherits LayoutComponentBase

<PageTitle>BlazorApp</PageTitle>

<div class="page">
    <div class="nav-menus">
        <div class="header">
            <Header/>
        </div>

    </div>

    <main>
        <div class="sidebar">
            <NavMenu/>
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
